/* 
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  width:50vw;
  margin: 1% auto;
  display: flex;
}

.main-header {
  height: 10vh;
  padding-left: 2%;
  width:50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0px rgba(37, 36, 36, 0.2), 0 6px 20px 0px rgba(53, 50, 50, 0.19);
}
.header{
  margin: 0;
  font-weight: 700;
  font-size: 1.7rem;
}
.addNew{
  position:fixed;
  background-color: white;
  top:0;
  left:0;
  width:100vw;
  border: solid black 1px;
  height:15vh;
  z-index: 2;
}
.external {
  position: relative;
  z-index: 1;
} */
