.outer-post-box{
  background-color: #fff;
  width: 70%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(37, 36, 36, 0.2), 0 6px 20px 0 rgba(53, 50, 50, 0.19);
}
.inner-post-box{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  flex-wrap: nowrap;
}
.image{
  width:250px;
  height:250px;
}
.newspaper{
  background-color: rgb(255, 133, 51);
  color:white;
  width:100%;
  height:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.title{
  font-size: 1rem;
  font-weight: 650;
  margin: 1%;
  padding-left: 10%;
  padding-right: 10%;
}
.newspaper-header{
  font-size: 1.5rem;
  font-weight: 650;
}


