.login__container {
  min-height: 100vh;
  text-decoration: none;
  font-family: 'Montserrat';
  box-sizing: border-box;
}


.login-form{
  width: 20vw;
  background: #f1f1f1;
  height: 80vh;
  padding: 40px 5vw 40px 5vw;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 6px 7px 9px -4px rgba(89,86,89,0.62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-form h1 {
  margin:0;
  color: #414344;
  text-align: center;
}
.session-logo {
  height: 100px;
  width: 100px;
}
.error-container{
  height:2rem;
  width:100%;
}
.login-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
  background-color:rgba(241, 83, 83, 0.87);
  border-radius: 5px;
  box-shadow: 3px 3px 9px -4px rgba(89,86,89,0.62);
  margin:0.2rem;
}
.login-success{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
  background-color:rgba(127, 236, 127, 0.87);
  border-radius: 5px;
  box-shadow: 3px 3px 9px -4px rgba(89,86,89,0.62);
  margin:0.2rem;
}

.txtb{
  width:100%;
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 1rem;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 2.5rem;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}
.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#fff1eb,#ace0f9);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(85, 85, 85, 0.349);
  background: linear-gradient(90deg,#fff1eb,#ace0f9,#fff1eb);
  background-position: center;
  background-size: 90%;
  color: rgb(51, 49, 49);
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-size: 1rem;
}

.logbtn:hover{
  background-size: 150%;
}

.bottom-text{
  margin-top: 2rem;
  font-size: 1rem;
}
