:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ------GENERAL Elements------ */
body{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.danger {
  background-color: #E57373 !important;
}
.danger2 {
  background-color: #F06292 !important;
}
.doubleDanger {
  background-color: #EF6C00 !important;
}

/* ------------App------------ */

.app__container{
  height: 95vh;
  overflow-x: hidden;
  margin-bottom:2rem;
}

.bar {
  background-color:#90caf9;
  height: 2rem;
  width:100%;
  z-index: 99;
}

.appbar{
  box-shadow:0px 10px 14px rgba(0,0,0,0.12);
  display: flex;
  justify-content: space-between;
  height:4rem;
}

.logo__container{
  margin-left: 16px;
  align-items: center;
  display:flex;
  justify-content: center;
}

.logo{
  width: 50px;
}

.action__container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width:60%;
  margin-right: 40px;
}
.action__container span {
  margin: 0 12px;
}

.appbar__button {
  margin: 0 12px !important;
}

.date-picker{
  background: #e0e0e0;
  /* border: solid thin grey; */
  border-radius: 4px;
  height: 32px;
  padding: 6px 16px; 
}

.date-picker__container {
  align-items: center;
  display:flex;
  justify-content: center;
}

.react-date-picker__wrapper{
  border: none !important; 
}

.draggable__container{
  z-index: 99;
}

.footer__container{
  bottom:0;
  box-shadow:0px -10px 14px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  
}

.footer__text{
  margin-left:12px;
  padding-right: 1rem;
}

/* ---------Headline List--------- */

.list__container, .no-content-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
}


/* ---------Headline--------- */

.card__delete-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px !important;
  padding: auto;
  border: none;
  box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.14), 0px 2px 1px 2px rgba(0,0,0,0.14);
  position: absolute;
  margin: 6px;
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.card__container {
  display:flex;
  flex-direction: column;
  position: relative;
  height: 350px;
  margin: 8px;
  width: 350px;
}
.card__container:hover {
  height: 360px;
  width:360px;
  margin:6px;
  box-shadow: 0 0 20px #90caf9;
}

.card__image{
  height: 160px;
}

/*----------------Add Feed --------------*/


.add-feed__container,.action-buttons__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-buttons__container{
  display: flex;
  flex-direction: row;
  height: 5rem;
  flex-wrap: wrap;
}
.action-buttons__container button{
  margin: 2px;
}
.external{
  border-top: dotted thick black;
  margin: 12px;
  padding: 24px;
  z-index: -99;
}
.form2Head{
  cursor: move;
  width:100%;
  height:1.5rem;
  background-color: #90caf9;
  text-align: center;
  padding-top:5px;
  font-size: 0.8rem;
  font-weight: 700;
}
.formMessage{
  position: absolute;
  top:2rem;
  left:0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  /* text-align: center; */
}
.firt-form__container {
  height:800px;
}
.first-form{
  align-items: center;
  margin-top: 10px;
  width:40vw;
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  border: solid 1px rgb(184, 182, 182);
  background-color: #90caf9;
  border-radius: 5px;
  box-shadow: 6px 9px 22px 0px rgba(112,112,112,0.67);
  padding: 5px;
  margin-bottom: 30px;
}
input{
  padding-left: 5px;
  width:75%;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button{
  border-radius:4px;
  border: 1px solid #ccc;
  background-color: rgb(226, 221, 221);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.addbutton{
  margin:5px;
}
.second-form{
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid thin rgb(165, 164, 164);
  border-radius: 5px;
  position: fixed;
  padding:3px;
  width: 350px;
  height:300px;
  top: 3rem;
  margin-left:20px;
  z-index: 9999;
  background-color: rgba(243, 243, 243, 0.897);
}
.first-form input,.second-form input{
  margin: 16px;
}
.formContent{
  margin-top:2rem;
  overflow: scroll;
  overflow-x: hidden;
}